table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

table th {
    background-color: rgb(89, 156, 156);
}

table tr:hover {
    background-color: rgb(205, 225, 225);
}

#btn-d {
    background-color: red;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#btn-e {
    background-color: rgb(240, 203, 17);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#searchArea {
    border: 1px solid black;
    width: 60%;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-bottom: 25px;
    display: flex;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0,  0, 0, 0.19);
}

#searchArea input {
    padding: 8px;
}

#searchArea form {
    width: 60%;
    margin: auto;
    padding: 10px;
}

#searchbtn {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    width: 40%;
}

#resetbtn {
    color: white;
    border-radius: 5px;
    border: none;
    width: 40%;
}

#addBtn {
    padding: 8px;
    background-color: rgb(19, 121, 6);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#addBtn a {
    text-decoration: none;
    color: white;
}

#actions {
    display: flex;
    gap: 5px;
}

#blc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nbrpage{
    padding: 5px;
    margin-bottom: 5px;
    background-color: #0062cc;
    border: none;
    border-radius: 5px;
    color: white;
    font-size:15px;
}
#pag a{
    text-decoration: none;
    margin-left: 4px;
    font-size: 20px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
#pag .disbled a:hover{
    background-color: #e0e0e0;
}
#pag .active{
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
}
#pag .disabled{
    color: #ccc;
    cursor: default;
}
#head{
    display: flex;
    
}
#logoutbtn{
    padding: 10px;
    background-color: #0062cc;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#logoutbtn a{
    text-decoration: none;
    color: white;
}
  
