section {
    width: 40%;
    height: 300px;
    margin: auto;
    margin-top: 5%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

p{
    text-align: center;
    font-size: x-large;
}

#areas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
}

#areas input {
    padding: 10px;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 1px 1px 3px rgb(184, 183, 183);
    border-radius: 5px;
}

#input {
    width: 21%;
    margin: auto;
    margin-top: 12px;
}

input[type='submit'] {
    padding: 10px;
    width: 10rem;
    color: white;
    background-color: #0062cc;
    border: none;
    border-radius: 5px;
    font-size: larger;
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
    font-family: serif
}